node_modules/
dist/
.pnpm-store/
.DS_Store
.npmrc

.pre-commit-config.yaml
trufflehog/

# Generated subpath proxy folders
packages/*/query/package.json
packages/*/store/package.json
packages/*/validate/package.json
packages/*/optimistic/package.json
packages/*/persist/package.json
